In [24]:
import requests
import pandas as pd
from datetime import datetime

In [27]:
# Define the API endpoint
url = "https://climate-api.open-meteo.com/v1/climate"

# Define coordinates for major cities in California
coordinates = [
    {"latitude": 34.0522, "longitude": -118.2437, "city": "Los Angeles"},
    {"latitude": 37.7749, "longitude": -122.4194, "city": "San Francisco"},
    {"latitude": 32.7157, "longitude": -117.1611, "city": "San Diego"},
    {"latitude": 36.7783, "longitude": -119.4179, "city": "Fresno"},
    {"latitude": 38.5767, "longitude": -121.4944, "city": "Sacramento"}
]

# Define the time range
current_year = datetime.now().year
years = range(current_year - 10, current_year)

# Initialize a list to hold the data
data_list = []

# Collect data for each location and year
for coord in coordinates:
    for year in years:
        start_date = f"{year}-01-01"
        end_date = f"{year}-12-31"
        params = {
            "latitude": coord["latitude"],
            "longitude": coord["longitude"],
            "start_date": start_date,
            "end_date": end_date,
            "daily": "temperature_2m_max",
            "timezone": "America/Los_Angeles"  # Specify timezone if needed
        }
        response = requests.get(url, params=params)
        if response.status_code == 200:
            data = response.json()
            dates = data.get('daily', {}).get('time', [])
            max_temperatures = data.get('daily', {}).get('temperature_2m_max', [])
            for date, temp in zip(dates, max_temperatures):
                data_list.append({
                    "City": coord["city"],
                    "Date": date,
                    "Max Temperature": temp
                })
        else:
            print(f"Request for {coord} in {year} failed with status code {response.status_code}")

# Create a DataFrame from the collected data
df = pd.DataFrame(data_list)

# Print the DataFrame
df

              City        Date  Max Temperature
0      Los Angeles  2014-01-01             17.7
1      Los Angeles  2014-01-02             18.5
2      Los Angeles  2014-01-03             17.2
3      Los Angeles  2014-01-04             16.0
4      Los Angeles  2014-01-05             14.4
...            ...         ...              ...
18255   Sacramento  2023-12-27              7.7
18256   Sacramento  2023-12-28              6.4
18257   Sacramento  2023-12-29              6.4
18258   Sacramento  2023-12-30              8.5
18259   Sacramento  2023-12-31              8.6

[18260 rows x 3 columns]